.words-highlighter-input {
  display: flex;
  flex-direction: column;
}

.text {
  line-height: 200%;
}

.input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}

.input::placeholder {
  color: #eee;
}

.input.valid {
  background-color: none;
}

.input.invalid {
  background-color: #d08383;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.word-valid {
  color: #99cc00;
}

.word-invalid {
  background-color: #d08383;
}

.current-word {
  text-decoration: underline;
}
